{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{% static 'css/tool/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/tool/google-api.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.min.css' %}" rel="stylesheet">
</head>
<body id="page-top">
  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid">
          <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">Page Not Found</p>
            <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/tool/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/tool/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/tool/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/main.min.js' %}"></script>
</body>
</html>
